[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_version = "3.5"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"

[dev-packages]
# Linting
pre-commit = "*"
"prospector[with_everything]" = "*"
# Security checks
bandit = "*"
safety = "*"
dependency-check = "*"
# Testing and coverarge
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-profiling = "*"
pytest-xdist = "*"
pytest-flask = "*"
tox = "*"

# Codacy Integration
#codacy-coverarge
